@charset "utf-8";


/*全体の設定
---------------------------------------------------------------------------*/
body {
	color: #666;	/*背景色*/
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";	/*文字サイズと行間、フォントファミリー*/
	background: fixed url(../images/bg.jpg) no-repeat center top;	/*背景画像の読み込み*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
	vertical-align: bottom;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
}
a:hover {
	color: #b095cf;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: 980px;	/*コンテナー幅*/
	margin: 0px auto;
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	text-align: right;	/*テキストなどを右寄せする*/
	padding: 20px 0px;	/*上下・左右への余白*/
}
/*h1タグの設定*/
header h1 {
	font-size: 9px;			/*文字サイズ*/
	font-weight: normal;	/*hタグのデフォルトの太字を標準に。太字がいいならこの１行削除。*/
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;	/*メインコンテンツを右側に回り込みさせる*/
	width: 650px;	/*コンテンツ幅*/
	padding-bottom: 30px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	font-size: 100%;
	color: #b095cf;		/*文字色*/
	border-bottom: 3px solid #b095cf;	/*下線の幅、線種、色*/
	padding: 0px 15px;	/*上下・左右への余白*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	font-size: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #eaeaea);	/*同上*/
	background-image: linear-gradient(#FFF, #eaeaea);			/*同上*/
	padding: 4px 15px;	/*上下、左右への余白*/
	border-radius: 30px;		/*角丸のサイズ*/
	border: 1px solid #ccc;		/*枠線の幅、線種、色*/
	font-weight: normal;	/*hタグのデフォルトの太字を標準に。太字がいいならこの１行削除。*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 15px 1em;	/*左から、上、左右、下への余白*/
}

/*トップページのスライドショー
---------------------------------------------------------------------------*/
#mainimg {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 30px;
}
#mainimg img {
	border-radius: 10px;
}
#mainimg .slide_file {
	display: none;
}
#slide_image {
	z-Index:2;
	height: auto;
	width: 100%;
	position: relative;
}
#slide_image2 {
	z-Index:1;
	height: auto;
	width: 100%;
	position: absolute;
	left:0px;
	top:0px;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*サブコンテンツを左側に回り込みさせる*/
	width: 250px;	/*コンテンツ幅*/
	position: fixed;	/*上下にスクロールしてもブロックを固定表示させる設定。不要ならこの１行削除。*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
nav#menubar ul li a {
	letter-spacing: 0.1em;	/*文字間隔。通常より少し広めに。不要ならこの行ごと削除。*/
	width: 100%;		/*ボタンの幅*/
	text-decoration: none;
	display: block;
	border-left: 5px solid #b095cf;	/*左線の幅、線種、色*/
	background:#FFF;	/*背景色(※古いブラウザ用)*/
	background: rgba(255,255,255,0.8);	/*背景色。左３つの数字がRGBでのカラー設定で、最後の１つが透明度。*/
	margin-bottom: 10px;	/*メニュー同士のスペース*/
	padding: 10px;	/*メニュー内の余白*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);			/*同上*/
}
/*現在表示中メニューと、マウスオン時の設定*/
nav#menubar ul li#current a,
nav#menubar ul li a:hover {
	background: #666;	/*背景色*/
	color: #FFF;		/*文字色*/
}

/*gallery.html内の各ブロック
---------------------------------------------------------------------------*/
/*ボックスの設定*/
#main section.list {
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	border-radius: 10px;		/*角丸のサイズ*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));	/*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #eaeaea);	/*同上*/
	background: linear-gradient(#FFF, #eaeaea);			/*同上*/
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;	/*ボックス同士のスペース*/
}
#main section.list a {
	display: block;
	padding: 20px;	/*ボックス内の余白*/
	text-decoration: none;
	overflow: hidden;
}
/*マウスオン時*/
#main section.list a:hover {
	background: #FFF;	/*背景色*/
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	padding: 0px;
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: left;		/*画像を左へ回り込み*/
	background: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px;		/*余白。ここに上の行で設定した背景色が出ます。*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	width: 30%;		/*写真の幅*/
	height: auto;	/*写真の高さ*/
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	font-size: 100%;
	color: #b095cf;	/*文字色*/
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
	border-bottom: 1px solid #b095cf;	/*下側の線の幅、線種、色*/
	margin-bottom: 0.5em;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
}
footer .pr {
	display: block;
	font-size: 80%;
}
footer a {
	text-decoration: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new{
	margin-bottom: 15px;
}
#new dl{
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 150px;	/*ボックスの高さ*/
	padding-left: 15px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding-left: 8em;
}
#new dd img {
	vertical-align: middle;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	padding: 10px;
}
.ta1 td img {
	height: auto;
	width: 100%;
}
/*テーブル内の左側*/
.ta1 th{
	width: 180px;	/*幅*/
	padding: 10px;
	text-align: center;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background-color: #eaeaea;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #eaeaea);	/*同上*/
	background-image: linear-gradient(#FFF, #eaeaea);			/*同上*/
}
/*ボタンの設定*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	width: 250px;	/*ボタン幅*/
	padding: 10px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border-radius: 30px;	/*角丸のサイズ*/
	background-color: #e5e5e5;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #eaeaea);	/*同上*/
	background-image: linear-gradient(#FFF, #eaeaea);			/*同上*/
	font-size: 16px;	/*文字サイズ*/
	letter-spacing: 0.1em;
	border: 1px solid #999;
}
/*ボタンのマウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#FFF));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#eaeaea, #FFF);	/*同上*/
	background-image: linear-gradient(#eaeaea, #FFF);			/*同上*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
}
#pagetop a {
	font-size: 10px;	/*文字サイズ*/
	text-decoration: none;
	text-align: center;
	width: 12em;	/*ボックス幅*/
	display: block;
	float: right;
	letter-spacing: 0.1em;	/*文字間隔を少し広めにとる設定。*/
	border-radius: 10px;
	border: 1px solid #ccc;
}
/*マウスオン時*/
#pagetop a:hover {
	border: 1px solid #b095cf;
}

/*「NEW」表示
---------------------------------------------------------------------------*/
.new {
	font-size: 10px;	/*文字サイズ*/
	color: #FFF;		/*文字色*/
	background: #F00;	/*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px,20px);
	-ms-transform: rotate(-45deg) translate(37px,20px);
	transform: rotate(-45deg) translate(37px,20px);
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #dcdcdc;
}
.mb15,
.mb1em {
	margin-bottom: 15px;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #555;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.big1 {
	font-size: 40px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
.c {
	text-align: center;
}
.r {
	text-align: right;
}
.newicon {
	background: #F00;
	color: #FFF;
	font-size: 10px;
	padding: 0px 5px;
	border-radius: 2px;
	margin-left: 5px;
}
img {
	max-width: 100%;
	height: auto;
}
#menubar_hdr {
	display: none;
}



/*ここからタブレット用（481px～800px）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (min-width:481px) and (max-width:800px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	background: url(../images/bg.jpg) no-repeat left top;
}
	
/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	margin-top: 50px;	/*このサイズ分だけ、上部に背景画像が出ます*/
	width: auto;
	padding: 10px;
	background: #FFF;
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	text-align: center;
	margin-bottom: 200px;	/*メニューを増減する場合はここも微調整する*/
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	position: absolute;
	left: 0px;	/*画面に対して左から0pxの位置に配置*/
	top: 200px;	/*画面に対して上から200pxの位置に配置*/
	width: 100%;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 48%;
	margin-left: 1%;
}
nav#menubar ul li a {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}

}



/*ここからスマートフォン用（480px以下）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (max-width : 480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	background: url(../images/bg.jpg) no-repeat left top;
}
	
/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	margin-top: 50px;	/*このサイズ分だけ、上部に背景画像が出ます*/
	width: auto;
	padding: 10px;
	background: #FFF;
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	text-align: center;
}
body#top header {
	margin-bottom: 150px;	/*メニューを増減する場合はここも微調整する*/
}
/*h1タグの設定*/
header h1 {
	display: none;
}
/*ロゴ画像の設定*/
header #logo {
	width: 100%;
	height: auto;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	position: absolute;
	left: 0px;	/*画面に対して左から0pxの位置に配置*/
	top: 50px;	/*画面に対して上から50pxの位置に配置*/
	width: 100%;
}
body#top #sub {
	left: 0px;	/*画面に対して左から0pxの位置に配置*/
	top: 150px;	/*画面に対して上から150pxの位置に配置*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
nav#menubar {
	overflow: hidden;
	padding-top: 10px;
	background: rgba(0,0,0,0.8);
}
body#top nav#menubar {
	padding-top: 0px;
	background: none;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 48%;
	margin-left: 1%;
}
nav#menubar ul li a {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*menu.html内のメニュー案内の各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list {
	width: auto;
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	margin-left: 0;
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	margin-left: 0;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: url(../images/btn_minus.png) no-repeat right center;	/*マイナスアイコン*/
}
section#new h2.close {
	background: url(../images/btn_plus.png) no-repeat right center;	/*プラスアイコン*/
}
/*ブロック全体の設定*/
#new dl {
	height: auto;
	margin: 5px 5px 0px;
}
/*日付設定*/
#new dt {
	float: none;
	width: auto;
}
/*記事設定*/
#new dd {
	padding-left: 0;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
/*テーブル内の右側*/
.ta1 td{
	width: auto;
	padding: 5px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 100px;
	padding: 5px;
}
.ta1 p {
	padding: 0px !important;
}

/*その他
---------------------------------------------------------------------------*/
/*メニュー折りたたみ設定*/
#top #menubar_hdr {
	display: none;
}
#menubar_hdr {
	display: inline;
	position: absolute;
	top: 0px;
	right: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e5e5e5));
	background-image: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
	background-image: linear-gradient(#fbfbfb, #e5e5e5);
	padding: 10px;
	border: 1px solid #cfcfcf;
	border-radius: 0px 0px 6px 6px;
}

}
